<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/head :: home-customer"></head>
<body class="g-sidenav-show bg-gray-200">
    <nav th:replace="/fragments/nav :: nav-customer" class="navbar navbar-expand-lg navbar-light bg-light" ></nav>
    
    <main class="main-content mt-0">
        <div class="card-header">
            <h4 class="font-weight-bolder">게시판 수정</h4>
            <p class="mb-0">게시물을 수정하세요</p>
        </div>
        <div class="card-body bg-white">
            <form role="form" th:action="@{/recipe/board/modify}" method="post" th:object="${board}">
                <!-- 수정할때는 id가 필요함 -->
                <input type="hidden" th:field="*{id}">
                <div class="form-group col-md-6" is-filled>
                    <label for="inputEmail4">제목</label>
                    <input type="text" class="form-control" id="inputEmail4" style="display: block;" th:field="*{title}" required />
                </div>  
                <div class="form-group col-md-6">
                    <div for="inputEmail4" class="input-group input-group-dynamic">
                    <textarea th:field="*{ingredient}" class="form-control" rows="3" placeholder="재료를 적어주세요." spellcheck="false" required ></textarea>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <div for="inputEmail4" class="input-group input-group-dynamic">
                    <textarea th:field="*{content}" class="form-control" rows="5" placeholder="내용을 적어주세요." spellcheck="false" required ></textarea>
                    </div>
                </div>
                
                <div class="form-group col-md-6" is-filled>
                    <label class="form-label">작가</label>
                    <input type="text" class="form-control" th:field="*{writer}" readonly />
                </div>
                <div class="text-center">
                    <a th:href="@{/recipe/board/list} + '?pageNum=__${criteria.pageNum}__'" class="btn btn-lg btn-danger page">수정 취소</a>
                    <button type="submit" class="btn btn-lg bg-primary">수정하기</button>
                </div>
            </form>
        </div>
        </main>
        <script>
            // 수정취소 클릭시 검색타입, 키워드 그대로 돌아가게
            const links = document.querySelectorAll('a.page');
            links.forEach((link) => {
                link.addEventListener('click', function (e) {
                    e.preventDefault();
                    let keyword = '[[${criteria.keyword}]]';
                    let type = '[[${criteria.type}]]';
                    if (keyword.trim()) {
                        keyword = '&keyword=' + keyword;
                        type = '&type=' + type;
                    }
                    location.href = this.getAttribute('href') + keyword + type;
                });
            });
        </script>
        <footer th:replace="/fragments/footer :: footer"></footer>
        </body>
</html>
