<!-- 페이지 수정 관리자용 -->
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="/fragments/head :: home-admin"></head>
  <body>
    <nav th:replace="/fragments/nav :: nav-admin"></nav>

    <main role="main" class="container">
      <div>페이지 수정</div>
      <a th:href="@{/admin/pages}" class="btn btn-primary my-3">돌아가기</a>
      
      <form method="post" th:object="${page}" th:action="@{/admin/pages/edit}" >
        <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">에러 발생</div>
        <div th:if="${message}" th:class="${'alert ' +  alertClass}" th:text="${message}"></div>
        
        <!-- 수정 시 필요한 값들 / 안적으면 새로 만들어짐 -->
        <input type="hidden" th:field="*{id}">
        <input type="hidden" th:field="*{sorting}">

        <div class="form-group">
          <label for="">Title</label>
          <input type="text" class="form-control" th:field="*{title}" placeholder="제목">
          <span class="error" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
        </div>

        <div class="form-group">
          <label for="">Slug</label>
          <input type="text" class="form-control" th:field="*{slug}" placeholder="슬러그">
          <span class="error" th:if="${#fields.hasErrors('slug')}" th:errors="*{slug}"></span>
        </div>
        
        <div class="form-group">
          <label for="">Content</label>
          <textarea class="form-control pageContent" cols="30" rows="3" th:field="*{content}" placeholder="컨텐트"></textarea>
          <span class="error" th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></span>
        </div>

        <button type="submit" class="btn btn-warning">수 정</button>
      </form>

    </main>
    <footer th:replace="/fragments/footer :: footer"></footer>
  </body>

</html>